
# Database
psycopg2-binary==2.8.3

pip==19.1.1
bumpversion==0.5.3
wheel==0.33.4
watchdog==0.9.0
flake8==3.7.7
cryptography==2.7
tox==3.12.1
coverage==4.5.3
Sphinx==2.1.1
pytest-runner==5.1
pytest==4.6.2
pytest-cov==2.7.1

# miscellaneous
sphinx_rtd_theme==0.4.3
pre-commit==1.17.0

python-dotenv[cli]==0.10.3

