
# Database
psycopg2-binary==2.7.7

pip==19.0.3
bumpversion==0.5.3
wheel==0.33.1
watchdog==0.9.0
flake8==3.7.7
tox==3.8.0
cryptography==2.6.1
coverage==4.5.3
Sphinx==1.8.5
pytest==4.3.1
pytest-runner==4.4
pytest-cov==2.6.1

# miscellaneous
sphinx_rtd_theme==0.4.3
pre-commit==1.14.4

python-dotenv[cli]==0.10.1

