
# Database
psycopg2-binary==2.8.5

pip==20.2.2
wheel==0.35.1
bumpversion==0.6.0
watchdog==0.10.3
flake8==3.7.8
cryptography==3.0
tox==3.14.3
coverage==5.2.1
Sphinx==3.3.0
pytest-runner==5.1
pytest==5.1.0
pytest-cov==2.7.1

# miscellaneous
sphinx_rtd_theme==0.5.0
pre-commit==1.18.2

python-dotenv[cli]==0.10.3

